.montserrat{font-family:'Montserrat',sans-serif;}

.header{color:#181242;font-size:115%;}

.per20{height:20%;width:20%;}

.main{font-size:110%;}

.centered{text-align:center;}

.inpblue{border:2px solid #0362fc;}
.inpred{border:2px solid #ff3b29;}

a.text:link{color:#181242;text-decoration:none;}
a.text:visited{color:#181242;text-decoration:none;}
a.text:hover{color:#181242;text-decoration:none;}

a:link{color:#7221ff;text-decoration:none;}
a:visited{color:#7221ff;text-decoration:none;}
a:hover{color:#7221ff;text-decoration:underline;}

html {
	color:#181242;
	background-color:#e8f9ff;
}

input[type=text] {
	font-size:100%;
	font-family:'Montserrat', sans-serif;
	width:15%;
	padding:11px 20px;
	margin:8px 0;
	background-color:#f5f5f5;
	box-sizing:border-box;
	border-radius:6px;
}